package ${domainPackage};

import com.xuaxi.framework.core.domain.AbstractDomain;
#foreach($import in $imports)
import ${import};
#end

public class ${className}Domain extends AbstractDomain<Long> {

	private static final long serialVersionUID = ${serialVersionUIDDomain}L;

#foreach($column in $columns)
#if(${column.comment})
	/**
	 * ${column.comment}
	 */
#end
	private ${column.javaTypeName} ${column.javaName};

#end
#foreach($column in $columns)
	public ${column.javaTypeName} get${column.getSetName}() {
		return ${column.javaName};
	}

	public void set${column.getSetName}(${column.javaTypeName} ${column.javaName}) {
		this.${column.javaName} = ${column.javaName};
	}

#end
}
