<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">
	<import resource="classpath:applicationContext-local.xml" />
	<bean id="SpringContextUtil" class="com.xuaxi.framework.core.spring.SpringContextUtil"
		scope="singleton" />
	<bean id="LoaderService" class="com.xuaxi.framework.core.resource.LoaderService"
		scope="singleton" />
	<import resource="classpath:applicationContext-persistent.xml" />
	<import resource="classpath:applicationContext-security.xml" />
	<import resource="classpath:applicationContext-redisCache.xml" />
	<context:component-scan base-package="com.xuaxi.service" />
	<context:component-scan base-package="com.xuaxi.api" />
</beans>
